<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="958a8d">  <td>20/01/27 15:43:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity3.openBrowser()[pri:0, instance:SuiteCRM.Activity3@6895a785]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/01/27 15:43:20</td>   <td>5502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity3.verifyFirstCopyright()[pri:0, instance:SuiteCRM.Activity3@6895a785]">verifyFirstCopyright</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/01/27 15:43:20</td>   <td>5542</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity3.closeBrowser()[pri:0, instance:SuiteCRM.Activity3@6895a785]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
</table>
