<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite CRM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="846679">  <td>20/01/27 15:25:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity1.openBrowser()[pri:0, instance:SuiteCRM.Activity1@56aac163]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/01/27 15:26:02</td>   <td>4744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity1.verifyPageTitle()[pri:0, instance:SuiteCRM.Activity1@56aac163]">verifyPageTitle</td> 
  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/01/27 15:26:02</td>   <td>4764</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity1.closeBrowser()[pri:0, instance:SuiteCRM.Activity1@56aac163]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
</table>
